<!DOCTYPE html>

<head>
    
    <title>Cadastro</title>
    <script src="../script/cadastro.js"></script>    
    <link rel="stylesheet" type="text/css" href="../css/cadastro.css" media="screen" />      

</head>
<body>
    <div class="wrapper">
        <img src="../view/img/logo-sem-nome.png" alt="Logo" class="logo">
        <h1>Cadastre-se</h1>
        <form action="#" method="POST" class="form">
            <div class="input-box">
                <label for="nome_completo">Nome Completo:</label>
                <input id="nome_completo" type="text" name="nome_completo" placeholder="Digite seu nome completo" >
            </div>

            <div class="input-box">
                <label for="cpf_cnpj">cpf/cnpj:</label>
                <input id="cpf_cnpj" type="text" name="cpf_cnpj" placeholder="CPF ou CNPJ" >
            </div>
            <div class="input-box">
                <label for="email">E-mail:</label>
                <input id="email" type="email" name="email" placeholder="Digite seu e-mail" >
            </div>

            <div class="input-box" style="padding-right: 56px;">
                <label for="data_nascimento">Data de Nascimento:</label>
                <input id="data_nascimento" type="date" name="data_nascimento" placeholder="DD/MM/AAAA" >
            </div>

            <div class="input-box">
                <label for="password">Senha:</label>
                <input id="password" type="password" name="password" placeholder="Digite sua senha" >
            </div>

            <div class="input-box">
                <label for="confirmPassword">Confirme sua Senha:</label>
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" >
            </div>

            <button type="button" class="btn" onclick="cadastroUsuario()">registrar</button>

        </form>
        <div class="register-link">
            <p>Já tem uma conta? <a href="../view/login.html">Login</a></p>
        </div>
      <a href="../view/home.html" class="back-home">Voltar a Pagina</a>  
    </div>
</body>
</html>
