<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home.css">
    <title>Connect Fit</title>
</head>
<body>
    <section>
        <div class="circle"></div>
        <header>
            <a href="#"><img src="../view/img/logo-sem-nome.png" alt="" class="logo"></a>
            <nav class="navegation">
                <ul>                    
                    <li><a href="../view/login.html">Login</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="text">
                <h2>CONNECT <br><span>FIT</span></h2>
                <p>Bem-vindo à Conect.Fit!!, onde buscamos inspirar e capacitar nossos membros a alcançar seus objetivos fitness. Junte-se a nós hoje para começar sua jornada em direção a uma vida mais saudável e feliz.</p>
                <a href="../view/cadastro.html">CADASTRE-SE AQUI!</a>
            </div>
        </div>
        <div class="boxImg">
            <img src="../view/img/Foto1 (1).png" alt="" class="img1">
        </div>
    </section>
</body>
</html>